<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập - Snack Shop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoV0_K78ROk_yDSrCyKON-JkXA5uWF9gxe4A&s" alt="Logo">
    </div>

    <div class="form-box">
        <h2>Đăng nhập</h2>

        <form>
            <input type="text" placeholder="Email hoặc tên đăng nhập" required>
            <input type="password" placeholder="Mật khẩu" required>
            <button type="submit">Đăng nhập</button>
        </form>

        <div class="social-login">
            <p>Hoặc đăng nhập bằng</p>
            <button class="google-btn">Google</button>
            <button class="facebook-btn">Facebook</button>
        </div>

        <p class="link-text">
            Chưa có tài khoản?
            <a href="register.html">Đăng ký ngay</a>
        </p>
    </div>
</div>

</body>
</html>
